* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
}

.hidden {
  display: none;
}

ul {
  display: flex;
  justify-content: center;
}
li {
  padding: 0.5rem;
}

h1,
button {
  margin: 1rem;
}
